.card {
  background-color: var(--white);
  color: var(--font-color);
  padding: 1em;
  border-radius: 5px;
  box-shadow: 5px 5px 23px 0 rgba(0, 0, 0, 0.7);
  -webkit-box-shadow: 5px 5px 23px 0 rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 5px 5px 23px 0 rgba(0, 0, 0, 0.7);
  display: grid;
  grid-template-areas: 'coin options';
  grid-template-columns: 1fr 1fr;
  margin: 2em;
}

.options {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#why-margin {
  margin-left: 0;
}

@media (max-width: 900px) {
  .card {
    grid-template-columns: 1fr;
    grid-template-areas: 'coin' 'options';
  }
}

@media (max-width: 500px) {
  .card {
    margin: 0;
    border-radius: 0;
    height: 100%;
    min-height: 100vh;
  }
}
