.card {
  background-color: var(--white);
  color: var(--font-color);
  padding: 1em;
  border-radius: 5px;
  box-shadow: 5px 5px 23px 0 rgba(0, 0, 0, 0.7);
  -webkit-box-shadow: 5px 5px 23px 0 rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 5px 5px 23px 0 rgba(0, 0, 0, 0.7);
}
